<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="pers1" class="week7_lesson13.Person">
        <constructor-arg value="4" type="int"/>
        <property name="name" value="Simona"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="pers2" class="week7_lesson13.Person">
        <constructor-arg value="Stefano"/>
        <property name="age" value="42"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="simonasName" class="java.lang.String">
            <constructor-arg value="Simona"/>
</bean>
    <!-- more bean definitions go here -->
</beans>