<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:session11_12/conf.properties"></context:property-placeholder>
    <bean id="pers1" class="session13.Person">
        <property name="name" value="Peter"></property>
        <constructor-arg value="Sonya"></constructor-arg>
        <constructor-arg value="26" type="int"></constructor-arg>
    </bean>
    <bean id="Company" class="session11_12.Company">

    </bean>
    <bean id="CompanyServiceImpl" class="session11_12.CompanyServiceImpl">
        <property name="sessionFactory" ref="fact"></property>
        <property name="session" value="session"></property>

    </bean>
    <bean id="CompanyDaoImpl" class="session11_12.CompanyDaoImpl">
        <property name="factory" ref="fact"></property>

    </bean>
    <bean id="fact"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" ></property>
    </bean>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:mem://personDb" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>


</beans>