p {
    background-color: lightskyblue;
    color: darkslategray;
}

div {
    border: 1px solid blue;
    border-radius: 5px 0 0 5px;
}

#list {
    border: 1px dashed aqua;
}

table.brown {
    background-color: burlywood;
}

p+table {
    color: darkgreen;
}

[href="ya.ru"] {
    font-style: italic;
}

p div {
    color: red;
}
