#header{
    align-content: center;
    background: #c1ffbb;
    width:100%;
    height:10%;
    border: #2F4F4F;
    }
#commercial{
    background: #FFFACD;
    width:100%;
    height:10%;
}
#menu{
    background:#F0FFF0;
    width:100%;
    height:6%;
}
#content{
    background:oldlace;
    width:100%;
    height:67%;
}
#footer{
    background:#DCDCDC;
    width:100%;
    height:7%;
}
