<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans.xsd">



       <bean id="pers1" class="session13.Person">
              <constructor-arg value="10" type="int"/>
              <property name="name" value="Uasia"/>

              <!-- collaborators and configuration for this bean go here -->
       </bean>
       <bean id="pers2" class="session13.Person">
              <constructor-arg value="${Uasia.name}"/>
              <property name="age" value="25"/>
              <!-- collaborators and configuration for this bean go here -->
       </bean>
       <bean id="UasiasName" class="java.lang.String">
              <constructor-arg value="Uasia"></constructor-arg>
       </bean>

       <bean id="dir" class="session13.comp_dir.Director">
              <property name="name" value="John"></property>
             <!-- <property name="company" value="BEEN"></property>-->

              
       </bean>
       <bean id ="comp" class="session13.comp_dir.Company">
              <constructor-arg value="BEENco"></constructor-arg>
              <property name="money" value="32324323.11"></property>

       </bean>
       <bean id ="car" class="session13.comp_dir.Car"> </bean>

       <!-- more bean definitions go here -->
</beans>