<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="pers1" class="session13.Task0.Person">
        <!--Injecting with Setters-->
        <property name="name" value="Simona"/>
        <property name="age" value="28"/>
    </bean>
    <bean id="pers2" class="session13.Task0.Person">
        <!--Injecting with Constructors-->
        <!--<constructor-arg value="Alex" type="java.lang.String"/>-->
        <constructor-arg name="name" value="Alex"/>
        <constructor-arg value="31" type="int"/>
    </bean>
    <bean id="pers3" class="session13.Task0.Person">
        <!--Using other bean to injecting-->
        <property name="name" ref="name"/>
        <property name="age" value="28"/>
    </bean>
    <!--Using other bean to injecting-->
    <bean id="name" class="java.lang.String">
        <constructor-arg value="Stefano"/>
    </bean>
</beans>