<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="pers1" class="Session13.Person">
              <property name="name" value="simonaName"/>
              <constructor-arg value ="4" type="int"/>

              <!-- collaborators and configuration for this bean go here -->
       </bean>
       <bean id="pers2" class="Session13.Person">
              <constructor-arg name="name" value="Stefano"/>
              <property name="age" value="42"/>
              <!-- collaborators and configuration for this bean go here -->
       </bean>
        <bean id="simonaName" class="java.lang.String">
         <constructor-arg value="Simona" />

       </bean>
       <!-- more bean definitions go here -->
</beans>