#greycol{
    color : grey;
}
p.yellowcol{
    color : yellow;
}
div.yellowcol{
    color : blue;
}
div+div{
    color : olive;
}

div p {
    color : red;
}

span p {
    color : brown;
}
div div {
    color : silver;
}

h4+p {
    color:green;
}